html {
    width: 100%;
    height: 100vh;
}
body {
  margin: 0% 0%;
  width: 100%;
  background-color: white;
}
.col {
  width: 700px;
  margin: auto;
  max-width: 700px;
}
.med-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 1.5rem;
}

#textinput{
    display: none;
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #48325E;
      background-image: linear-gradient(to bottom right, #48325E, #704D91);
    color: #eee;
  }

  a:link {
    color: lightpink;
  }
  a:visited {
    color: #50afe5;
  }
  a:hover {
    color: firebrick;
  }
  a:active {
    color: firebrick;
  }

  img {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }

  div#action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  div#action-buttons > button {
    width: 49%;
    background-color: transparent;
    border-radius: 1px;
    border: solid 1px #eee;
    color: white;
    padding: 10px;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  div#action-buttons > button:hover {
    background-color: #eee;
    color: #222222;
  }

  div#action-buttons > button:active {
    background-color: #ccc;
  }

  div#action-buttons > button.disabled,
  div#action-buttons > button.disabled:active {
    pointer-events: none;
    cursor: default;
    background-color: transparent;
    border-color: rgb(100, 100, 100);
    color: rgb(100, 100, 100);
  }
}
